/* Main section */
.main-section {
  margin-top: 64px;
}

.web-developer-projects-card {
  margin-bottom: 64px;
}

/* Image container  */
.image-container {
	margin-bottom: 32px;
	width: 100%;
}

.image-container img {
	width: 100%;
}

/* Pokedex image */
.pokedex-img {
  border: 1px solid lightgrey;
}

/* Text container */
.project-description {
  margin-bottom: 24px;
}

.technology {
  margin-bottom: 32px;
}

.technology span {
  font-weight: 600;
}

.project-links {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: start;
}

/* ---------- Media Queries ---------- */
@media only screen and (min-width: 576px) {
  h1, h2, .technology {
    text-align: center;
  }

  hr {
    margin-bottom: 16px;
  }

  .image-container {
    margin: 0 auto;
    margin-bottom: 32px;
    width: 60%;
  }

  .project-links {
    flex-direction: row;
    justify-content: center;
  }
}

@media only screen and (min-width: 767px) {
  h1 {
    margin-bottom: 64px;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .web-developer-projects-card {
    align-items: end;
    display: flex;
    gap: 32px;
    justify-content: space-between;
  }

  .projects-cards-container {
    margin-bottom: 0;
  }

  .image-container {
    
    margin: 0;
    width: 40%;
  }

  .text-container {
    width: 55%;
  }

  h2, .technology {
    text-align: left;
  }

  .project-links {
    justify-content: start;
  }
}

@media only screen and (min-width: 992px) {
  .projects-cards-container {
    margin: 0 auto;
    max-width: 936px;
  }

  h2 {
    font-size: 48px;
  }
}
