.learn-more-page {
  padding-left: 0;
  padding-right: 0;
}

.section-container {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: var(--block-lg);
}

/* Offsetting an anchor:  https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header */
.section-container .anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

/* Table of contents */
.table-of-contents-btn {
  position: fixed;
  right: 5%;
  top: 12%;
  z-index: 1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}

.table-of-contents-btn svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -42%);
  width: 24px;
  height: 24px;
}

#down-arrow {
  display: block;
}

#down-arrow.hide {
  display: none;
}

#up-arrow {
  display: none;
  transform: translate(-50%, -48%);
}

#up-arrow.show {
  display: block;
}

/* hide the table of contents */
#mobile-table-of-contents {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 100%;
  top: 100%;
  left: 0;
  height: 40vh;
  padding: 40px;
  padding-top: 80px;
  border-bottom: 1px solid black;
}

/* show table of contents */
#mobile-table-of-contents.show {
  display: block;
}

/* table of contents container */
.mobile-table-of-contents-links li {
  width: fit-content;
  margin-bottom: 20px;
}

/* project subsections */
.project-subsection {
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 20px; 
}

hr {
  margin-bottom: 32px;
}

/* ---------- Hero section ---------- */
.hero-section {
  margin-top: var(--block-lg);
}

/* ----- Image container ----- */
.image-container {
  margin-bottom: 32px;
  width: 100%;
}

.image-container img {
  width: 100%;
}

/* ---------- Project overview section ---------- */
/* ----- Improvement opportunities ----- */
.improvement-opportunities {
  margin-bottom: 32px;
}

.improvement-opportunities p:nth-child(2) {
  margin-bottom: 20px;
}

/* ----- Pain points ----- */
.pain-points hr {
  margin-bottom: 64px;
  margin-top: 64px;
}

.pain-point-container .text-container {
  margin-bottom: 16px;
}

.pain-points .image-container {
  width: 100%;
  border: 1px solid lightgray;
  margin-bottom: 0;
}

.pain-points img {
  width: 100%;
}

/* vvvvv START HERE vvvvv */

/* ---------- Tackling the problems section ---------- */
.tackling-the-problem {
  margin-bottom: 64px;
}

.tackling-the-problem .text-container {
  margin-bottom: 16px;
}

/* paper wireframes */
#overall-design .image-container {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.paper-wireframes {
  /* border: 3px solid red; */
  max-width: 300px;
}

.wireframe-a {
  margin-bottom: 16px;
}

.wireframe-b, .wireframe-c {
  display: none;
}

#sequential-questions .image-container, #blank-password .image-container, #copy-feature .image-container {
  /* border: 3px solid red; */
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 32px;
}


/* ---------- Challenges section ---------- */
.challenge ol {
  list-style-type: decimal;
  padding-left: 32px;
}

.challenge p {
  margin-bottom: 16px;
}

.challenge .image-container {
  margin-bottom: 16px;
}

.challenge .image-container:last-child {
  margin-bottom: 0;
}



/* ---------- Going forward section ---------- */
/* ----- Learnings ----- */
.learnings {
  margin-bottom: 32px;
}

/* ----- Future ----- */
.future ul {
  list-style: disc;
  padding-left: 28px;
}

.future li {
  margin-bottom: 8px;
}

/* ---------- Media queries ---------- */
@media only screen and (min-width: 576px) {
  h1, h2, h3, h4 {
    text-align: center;
  }

  .table-of-contents-container h2 {
    text-align: left;
  }

  .section-container {
    padding-left: 32px;
    padding-right: 32px;
  }

  /* ----- Project subsections for all sections ----- */
  .project-subsection p {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
  }

  /* ---------- Hero section ---------- */
  .hero-section p {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
  }

  .hero-section .image-container {
    max-width: 620px;
    margin: 0 auto;
    margin-bottom: 32px;
  }

  


  

  /* ---------- Going forward ---------- */
  /* ----- Next steps ----- */
  .future ul {
    max-width: 400px;
    margin: 0 auto;
  }
}



@media only screen and (min-width: 767px) {
  .learn-more-page {
    padding-top: 138px;
  }

  .section-container .anchor {
    top: -200px;
  }

  /* mobile table of contents */
  #mobile-table-of-contents {
    padding: 0;
    height: auto;
    display: block;
    border-top: 1px solid black;
  }

  .mobile-table-of-contents-links {
    display: flex;
    justify-content: space-between;

  }

  .table-of-contents-container {
    max-width: 1200px;
    border-bottom: none;
    margin: 0 auto;
    padding: 20px 32px;
  }

  #table-of-contents-btn, .table-of-contents-container h2 {
    display: none;
  }

  .mobile-table-of-contents-links li {
    margin-bottom: 0;
  }

  h2 {
    margin-bottom: 32px;
  }

  .section-container {
    margin-bottom: 128px;
  }

  .section-container hr {
    margin-bottom: 48px;
  }

  /* ----- Image container for all sections ----- */
  .image-container {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 32px;
  }

  /* hero section */
  .hero-section {
    margin-top: var(--block-md);
    /* border: 3px solid red; */
  }

  /* ---------- Project Overview ---------- */
  .project-overview-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
    grid-column-gap: 60px;
    padding: 0 60px;
  }

  .project-overview-section .project-subsection {
    margin-bottom: 0;
  } 

  /* ---------- Tackling the problems section ---------- */
  .tackling-the-problem .image-container {
    /* border: 3px solid blue; */
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: normal;
  }

  /* .wireframe-a {
    margin-bottom: 0;
  } */
}

@media only screen and (min-width: 848px) {
  /* hero section */
  .hero-section .image-container {
    max-width: 588px;
    /* border: 3px solid red; */
  }
}

@media only screen and (min-width: 992px) {
  /* table of contents */
  .table-of-contents-container {
    padding-left: 60px;
    padding-right: 60px;
  }

  .mobile-table-of-contents-links {
    justify-content: space-evenly;
  }

  .section-container {
    padding-left: 60px;
    padding-right: 60px;
  }

  /* ---------- Project overview section ---------- */
  h3 {
    font-size: var(--fs-h3);
  }

  .project-overview-container {
    gap: 64px;
    padding-left: 0;
    padding-right: 0;
    /* border: 3px solid red; */
  }

  .project-subsection p {
    max-width: unset;
  }

  /* project overview subsections */
  /* .product-subsection p, .goal-subsection p { */
  .project-overview-subsection p, .goal-subsection p {
    text-align: left;
    max-width: unset;
  }

  /* Goal subsection */
  .goal-subsection {
    margin-bottom: 32px;
  }


  /* ---------- First steps ---------- */
  /* ----- Improvement opportunities ----- */
  .improvement-opportunities {
    margin-bottom: 64px;
  }

  /* ----- Pain points ----- */
  .pain-points {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap:  32px;
  }

  .pain-point-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .pain-point-container .text-container {
    width: 40%;
    margin-bottom: 0;
  }

  .pain-point-container .image-container {
    max-width: unset;
    width: 55%;
    margin: 0;
  }

  .pain-points h4 {
    text-align: left;
    margin-bottom: 24px;
  }

  .pain-points p {
    text-align: left;
  }

  .pain-points hr {
    width: 100%;
  }

  
  /* ---------- Tackling the problems section ---------- */
  .tackling-the-problem .text-container {
    margin-bottom: 32px;
  }

  /* paper wireframes */
  #overall-design .image-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .wireframe-b, .wireframe-c {
    display: block;
  }

  #overall-design img {
    height: 100%;
    width: 90%;
  }
  



  

  

  /* ---------- Going forward ---------- */
}

@media only screen and (min-width: 1200px) {
  /* hero section  */
  .hero-section .image-container {
    margin-bottom: 16px;
    /* border: 3px solid red; */
  }


  /* ---------- Project overview section ---------- */
  .project-overview-container {
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr;
    row-gap: 36px;
    /* border: 3px solid red; */
  }

  /* ----- Product subsection ----- */
  /* .product-subsection { */
  .project-overview-subsection {
    grid-column-start: 1;
    grid-column-end: 2;
    /* border: 3px solid red; */
  }


  /* ---------- Understanding the user ---------- */
}

/* NEXT STEPS */
/* * change product-subsection class */