/* used to remove flash of unstyled content for page load animation */
/* https://gsap.com/resources/fouc/ */
body {
  visibility: hidden;
}

/* ---------- Main content ---------- */
.main-content {
  background-color: #314788;
}

.image-container {
  margin-bottom: 28px;
}

.section-image {
  width: 100%;
}

/* ---------- media queries ---------- */
@media screen and (max-width: 792px) {
  .main-content .main-content-section:first-child {
    padding-top: 96px;
  }
}

@media screen and (max-width: 767px) {
  .main-content {
    padding-top: 176px;
  }

  .main-content .main-content-section:first-child {
    padding-top: 44px;
  }
}

@media screen and (max-width: 656px) {
  .main-content .main-content-section:first-child {
    padding-top: 100px;
  }
}

@media screen and (max-width: 576px) {
  .main-content {
    padding-top: 213px;
  }

  .main-content .main-content-section:first-child {
    padding-top: 40px;
  }

  .main-content .main-content-section {
    padding-top: 44px;
  }
}

@media screen and (max-width: 405px) {
  .mobile-nav-menu {
    top: 44%;
  }
}

@media screen and (max-width: 366px) {
  .main-content .main-content-section:first-child {
    padding-top: 100px;
  }
}
