.section-container {
  margin-bottom: var(--block-lg);
}

h2 {
  border-bottom: 1px solid #c4cede;
  padding-bottom: 12px;
}

/* ----- Plant icons ----- */
.icon-container-mobile {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
  margin-bottom: var(--block-lg);
}

.icon-container-mobile img {
	max-width: 70px;
	width: 100%;
}

/* ----- Button links ----- */
.button-link {
  /* border: 3px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------- hero section ---------- */
.hero-section {
  /* border: 3px solid red; */
  margin-top:  var(--block-lg);
}

.hero-section-content {
  /* background-color: blue; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

/* ----- image container ----- */
.hero-section-content .image-container {
  margin-bottom:  var(--block-sm);
  width: 100%;
}

.hero-section-content img {
  width: 100%;
}

/* ----- text container ----- */
.text-container {
  /* margin-bottom: var(--block-sm); */
}

.subheader {
  /* border: 3px solid red; */
  font-size: 20px;
  margin-bottom: var(--block-sm);
}

.subheader span {
  color: #d43900;
	font-weight: bold;
}

/* ---------- my experience section ---------- */
.my-experience-section .learn-more-text {
  /* border: 3px solid red; */
  margin-bottom: 28px;
}

/* ---------- my journey section ---------- */
.subsection {
  /* border: 3px solid red; */
  margin-bottom: var(--block-md);
}
/* ----- Before ----- */
.before-section .image-container {
  width: 100%;
}

.before-section img {
  width: 100%;
}

/* ----- After ----- */
.after-section p {
  /* border: 3px solid red; */
  margin-bottom: 28px;
}

/* ----- After ----- */
.since-then-section p {
  margin-bottom: 28px;
}

.since-then-section .text-container {
  /* border: 3px solid red; */
  margin-bottom: var(--block-lg);
}

/* ---------- spare time section ---------- */
.spare-time-section .image-grid {
  display: grid;
  grid-template-columns: 1r;
  grid-row-gap: 20px;
}

.image-grid img {
  width: 100%;
}

/* ---------- thanks section ---------- */
.thanks-section .text-container {
  margin-bottom: var(--block-lg);
}

.attribution, .attribution a {
  /* border: 3px solid red; */
  font-size: 12px;
  font-style: italic;
}

/* ---------- Media queries ---------- */
@media only screen and (min-width: 576px) {
  /* centers all text */
  h1, h2, .text-container {
    text-align: center;
  }

  .hero-section .image-container {
    margin: 0 auto;
    margin-bottom: var(--block-sm);
    width: 60%;
  }
}

@media only screen and (min-width: 767px) {
  .hero-section .image-container {
    width: 50%;
  }

  .my-journey-section .image-container, .spare-time-section img {
    margin: 0 auto;
    max-width: 800px;
  }
}
