/* ---------- Main content ---------- */
.main-content {
  background-color: #314788;
}

.image-container {
  margin-bottom: 28px;
}

.section-image {
  width: 100%;
}

/* ---------- media queries ---------- */
@media screen and (max-width: 405px) {
  .mobile-nav-menu {
    top: 44%;
  }
}
