body {
	margin: 0;
  display: grid;
  padding-right: 0;
  padding-left: 0;
  grid-template-columns: 1fr 1fr;
}

.sidenav {
  background-color: skyblue;
  display: grid;
  position: fixed;
  height: 100%;
  width: 34%;
  padding-left: 16%;
  grid-template-rows: 1fr 2fr;
}



/* ---------- Navbar ---------- */
.navbar {
  padding-top: 40px;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 32px;
}

.navbar a {
  font-size: 24px;
  text-decoration: none;
  color: #000;
}

.navbar a:hover {
  color: #314788;
}

/* ---------- Header and subheader ---------- */
h1 {
	margin-bottom: 20px;

}

/* ---------- Table of contents ---------- */
.table-of-contents {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: fit-content;
}

.table-of-contents a {
	color: #000;
	font-size: 32px;
	font-weight: 400;
	text-decoration: none;
}

.table-of-contents a:hover {
	color: #314788;
}


/* ---------- Main content ---------- */
.main-content {
  background-color: orange;
  width: 100%;
  margin-left: 100%;
}

.main-content-section {
  padding: 108px;
  padding-bottom: 0;
}

.main-content-section:last-child {
  padding-bottom: 108px;
} 

.image-container {
  margin-bottom: 28px;
}

.section-image {
  width: 100%;
}






/* media queries */
@media screen and (max-width: 992px) {
	.table-of-contents a {
		font-size: 28px;
	}
}

@media screen and (max-width: 767px) {
	.table-of-contents a {
		font-size: 20px;
	}

	.social-links svg {
		height: 32px;
		width: 32px;
	}
}

@media screen and (max-width: 576px) {
	.portfolio-link-info {
		display: none;
	}

	.social-links svg {
		height: 28px;
		width: 28px;
	}
}

@media screen and (max-width: 418px) {
	h1 {
		margin-bottom: 8px;
	}
}