.section-container {
  margin-bottom: var(--block-lg);
}

h2 {
  border-bottom: 1px solid #c4cede;
  padding-bottom: 12px;
}

/* ----- Plant icons ----- */
.icon-container-mobile {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
  margin-bottom: var(--block-lg);
}

.icon-container-mobile img, .icon-container-desktop img {
	max-width: 70px;
	width: 100%;
}

/* desktop plant icon */
.icon-container-desktop {
  display: none;
}

/* ----- Button links ----- */
.button-link {
  /* border: 3px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------- hero section ---------- */
.hero-section {
  /* border: 3px solid red; */
  margin-top:  var(--block-lg);
}

.hero-section-content {
  /* background-color: blue; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

/* ----- image container ----- */
.hero-section-content .image-container {
  margin-bottom:  var(--block-sm);
  width: 100%;
}

.hero-section-content img {
  width: 100%;
}

/* ----- text container ----- */
.text-container {
  /* margin-bottom: var(--block-sm); */
}

.subheader {
  /* border: 3px solid red; */
  font-size: 20px;
  margin-bottom: var(--block-sm);
}

.subheader span {
  color: #d43900;
	font-weight: bold;
}

/* ---------- my experience section ---------- */
.my-experience-section .learn-more-text {
  /* border: 3px solid red; */
  margin-bottom: 28px;
}

/* ---------- my journey section ---------- */
.subsection {
  /* border: 3px solid red; */
  margin-bottom: var(--block-md);
}
/* ----- Before ----- */
.before-section .image-container {
  width: 100%;
}

.before-section img {
  width: 100%;
}

/* ----- After ----- */
.after-section p {
  /* border: 3px solid red; */
  margin-bottom: 28px;
}

/* ----- After ----- */
.since-then-section p {
  margin-bottom: 28px;
}

.since-then-section .text-container {
  /* border: 3px solid red; */
  margin-bottom: var(--block-lg);
}

/* ---------- spare time section ---------- */
.spare-time-section .image-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
}

.image-grid img {
  width: 100%;
}

/* ---------- thanks section ---------- */
.thanks-section .text-container {
  margin-bottom: var(--block-lg);
}

.attribution, .attribution a {
  /* border: 3px solid red; */
  font-size: 12px;
  font-style: italic;
}

/* ---------- Media queries ---------- */
@media only screen and (min-width: 576px) {
  /* centers all text */
  h1, h2, .text-container {
    text-align: center;
  }

  .hero-section .image-container {
    margin: 0 auto;
    margin-bottom: var(--block-sm);
    width: 60%;
  }

  /* ----- attribution ----- */
  .attribution {
    text-align: center;
  }
}

@media only screen and (min-width: 767px) {
  .hero-section .image-container {
    width: 50%;
  }

  .my-journey-section .image-container, .spare-time-section img {
    margin: 0 auto;
    max-width: 800px;
  }
}

@media only screen and (min-width: 992px) {
  /* ----- button links ----- */
  .button-link {
    display: block;
    width: fit-content;
  }

  /* ----- hero section ----- */
  .hero-section-content {
    align-items: center;
    display: flex;
    gap: 32px;
    justify-content: space-between;
  }

  h1, h2, .text-container {
    text-align: left;
  }

  .hero-section-content .image-container {
    margin: 0;
    width: 40%;
  }

  .hero-section-content .text-container {
    width: 60%;
  }

  /* ----- mobile plant icon ----- */
  .icon-container-mobile {
    display: none;
  }

  /* ----- my experience section ----- */
  .my-experience-section .text-container {
    position: relative;
  }

  /* desktop plant icon (my experience section) */
  .icon-container-desktop {
    display: block;
    position: absolute;
  }

  .my-experience-section .icon-container-desktop {
    right: 0;
    top: 4px;
  }

  /* ----- My journey section ----- */
  .subsection {
    margin-bottom: var(--block-lg);
  }

  /* before section */
  .before-section {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .before-section .text-container {
    width: 36%;
  }

  .before-section .image-container {
    width: 50%;
    max-width: unset;
    margin: 0;
  }

  /* since then section */
  .since-then-section {
    position: relative;
  }

  .since-then-section .text-container {
    margin-bottom: 0;
  }

  .since-then-section .icon-container-desktop {
    bottom: 0;
    right: 0;
  }

  /* ----- Spare time section ----- */
  .spare-time-section .image-grid {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }
}
