#bakery-board .hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./../images/bakery-board/new-bakery-board-app.png");
  background-position: 80% 84px;
  background-repeat: no-repeat;
  background-size: contain;
}

/* lofi prototype */
.lofi-prototype.intro-section {
  /* border: 3px solid red; */
  margin-bottom: 0;
}

.lofi-prototype p {
  margin-bottom: 32px;
}

.lofi-prototype a {
  display: inline-block;
}

/* refining the design */
.refining-the-design .readability, .refining-the-design .homepage {
  flex-direction: row-reverse;
}

.refining-the-design .responsive-design {
  /* border: 3px solid blue; */
  margin-bottom: 0;
}

.refining-the-design .clearer-language img, .refining-the-design .homepage img, .refining-the-design .responsive-design img {
  /* border: 3px solid red; */
  height: 100%;
  object-fit: contain;
}


/* media queries */
@media screen and (max-width: 1200px) {
  #bakery-board .hero-section {
    background-position: 94% 84px;
  }
}

@media screen and (max-width: 767px) {
  #bakery-board .hero-section {
    background-position: 94% 70px;
  }
}

@media screen and (max-width: 576px) {
  #bakery-board .hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./../images/bakery-board/new-bakery-board-app.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 94% 70px;
  }
}

@media screen and (max-width: 420px) {
  #bakery-board .hero-section {
    background-position: 94% 63px;
  }
}