.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1521747116042-5a810fda9664?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
}

.hero-text, .subheader {
  color: black;
	max-width: 66%;
}

.hero-text, .hero-text .subheader {
  color: white;
  text-shadow: 1px 1px 2px black;
}

/* ---------- overview section, parameters for usability testing ---------- */
.intro-text ul, .intro-text p {
  margin-bottom: 32px;
}

.intro-text p {
  max-width: 66%;
}

.intro-text li {
  margin-bottom: 12px;
}

.intro-text li:last-child {
  margin-bottom: 0;
}

.subheader span {
  font-weight: 600;
}

.problem-and-goal {
  align-items: start;
  display: flex;
  gap: 100px;
  justify-content: start;
}

.problem-and-goal div {
  width: 40%;
}

/* ---------- section intros and sections with text and image side-by-side ---------- */
.intro-section {
  align-items: end;
	display: flex;
	justify-content: space-between;
	margin-bottom: 64px;
}

.intro-section .text-container {
	width: 33%;
}

.intro-section figure {
  position: relative;
  width: 60%;
}

.intro-section .image-container {
  width: 100%;
}

.intro-section img {
	width: 100%;
}

/* image attribution */
.attribution, .attribution a {
  color: #c8cad1;
  font-size: 10px;
}

.attribution {
  bottom: 84px;
  position: absolute;
  right: 0;
  transform: rotate(-90deg) translateY(104px);
}

/* ---------- summary lists (where points are made) ---------- */
.summary-list {
  max-width: 60%;
}

.summary-list h3, .summary-list h4 {
  margin-bottom: 32px;
}

.summary-list li {
  margin-bottom: 32px;
}

.summary-list li:last-child {
  margin-bottom: 0;
}

.summary-list span {
  font-weight: 600;
}

/* ---------- Understanding the user section ---------- */
.quote-section {
  background-color: #314788;
}

.quote-container {
  margin-bottom: 32px;
  text-align: center;
}

.quote-icon {
  fill: white;
  text-align: center;
  width: 5%;
}

.quote p {
  color: white;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
	line-height: 1.2;
}

.quote-text {
  padding-left: 64px;
  padding-right: 64px;
}

.quote-text.quoter {
  text-align: right;
}

.persona-container.intro-section {
  align-items: start;
  margin-bottom: 120px
}

.personas-section-intro {
  margin-bottom: 120px;
  max-width: 66%;
}

.persona-container p {
  margin-bottom: 32px;
}

.persona-container h4 {
  margin-bottom: 12px;
}

.persona-quote {
  font-size: 18px;
  font-style: italic;
}

.persona-container figure {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.persona-container figure .image-container {
  display: block;
  overflow: hidden;
  margin-bottom: 12px;
  width: 100%;
}

.persona-container .attribution {
  bottom: 118px;
}

.section-container .persona-container:nth-child(3) .attribution {
  right: auto;
  transform: rotate(-90deg) translateY(-104px);
}

.goals-and-frustrations h5 {
  margin-bottom: 8px;
}

.goals-and-frustrations ul {
  margin-bottom: 32px;
  padding-left: 32px;
}

.goals-and-frustrations li {
  list-style: disc;
}

.goals-and-frustrations ul:last-child {
  margin-bottom: 0;
}

.persona-container .image-container img {
  margin-bottom: 12px;
}

.persona-container figcaption ul {
  align-items: center;
  display: flex;
  gap: 32px;
  justify-content: start;
}

.persona-container span {
  font-weight: 600;
}

.understanding-the-user .persona-container:nth-child(3) {
  flex-direction: row-reverse;
  margin-bottom: 0;
}

/* ---------- Starting the design section ---------- */
.starting-the-design .intro-section {
  margin-bottom: 120px;
}

/* ----- styles for the slideshow ----- */
.starting-the-design .image-container.slideshow {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.starting-the-design .image-container.slideshow > img {
  opacity: 0;
  position: absolute;
  transition: opacity 1.5s ease-in-out;
}

.starting-the-design .image-container.slideshow > img.active {
  opacity: 1;
}
/* ----- end slideshow styles ----- */

.starting-the-design .digital-wireframes {
  flex-direction: row-reverse;
}

.high-fidelity-mockups .intro-section {
  margin-bottom: 64px
}

.high-fidelity-text h3 {
  margin-bottom: 0;
}

.focus-points.summary-list {
  margin-bottom: 64px;
}

.prototype.intro-section {
  margin-bottom: 0;
}

.prototype p {
  margin-bottom: 32px;
}

.prototype a {
  display: inline-block;
}

/* ---------- Usability testing section ---------- */
.parameters {
  margin-bottom: 64px;
}

/* ---------- Moving forward section ---------- */
.takeaways.summary-list {
  margin-bottom: 64px;
}

.final-designs.intro-section {
  margin-bottom: 0;
}

.final-designs h3 {
  margin-bottom: 32px;
}

.final-designs .image-container {
  /* Aspect ratio: https://css-tricks.com/a-first-look-at-aspect-ratio/ */
  align-items: center;
  aspect-ratio: 3 / 2;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.final-designs .image-container img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.final-designs img {
  object-fit: cover;
}

.gallery-thumbnails {
  display: grid;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gallery-thumbnails.mobile-version {
  display: none;
}

.gallery-thumbnails button {
  aspect-ratio: 1 / 1;
  border: 1px solid #d9d9d9;
  cursor: pointer;
  display: flex;
  object-fit: cover;
  padding: 0;
  width: 100%;
}

.gallery-thumbnails img {
  width: 100%;
}

.gallery-thumbnails img.active {
  outline: 4px solid #314788;
}

.final-designs .image-container img {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.final-designs .image-container img.active, .final-designs .image-container .mobile-version img  {
  opacity: 1;
}


/* ---------- Thank you section ---------- */
.thank-you-section {
  background-color: #314788;
  color: white;
}

.thank-you-section hr {
  border-top: 4px solid white;
}

.thank-you-section p {
  margin-bottom: 32px;
  max-width: 66%;
}

.thank-you-section li:first-child {
  margin-bottom: 8px;
}

.thank-you-section a {
  color: white;
}

.thank-you-section span {
  font-weight: 600;
}

/* -------------------- media queries -------------------- */
@media screen and (max-width: 1400px) {
  /* persona figcaption */
  .persona-container figcaption ul {
    align-items: start;
    flex-direction: column;
    gap: 4px;
  }

  /* persona attributions */
  .persona-container .attribution {
    bottom: 198px;
  }
}


@media screen and (max-width: 1200px) {
	/* personas section intro spacing */
	.personas-section-intro, .persona-container.intro-section, .starting-the-design .intro-section {
    margin-bottom: 60px;
  }

  .intro-section.prototype {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 992px) {
  /* ---------- Attribution ---------- */
  .attribution {
    transform: translateY(100px);
  }

  /* ---------- Quote ---------- */
	.quote-container {
		margin-bottom: 16px;
	}

	.quote p {
    font-size: 28px;
  }

  /* ---------- Personas ---------- */
  .persona-container.intro-section, .understanding-the-user .persona-container:nth-child(3) {
    flex-direction: column-reverse;
  }

  .persona-container.intro-section .text-container {
    width: 100%;
  }

  .persona-container figure {
    flex-direction: row;
    gap: 32px;
    width: 100%;
  }

  .persona-container figure .image-container {
    margin-bottom: 32px;
  }

  .persona-container figure .image-container img {
    margin-bottom: 0;
    width: 100%;
  }

  .persona-container figcaption ul {
    align-items: start;
    flex-direction: column;
    gap: 8px;
  }

  .persona-container figcaption {
    width: 40%;
  }

  .persona-container .attribution, .section-container .persona-container:nth-child(3) .attribution {
    left: 0;
    transform: translateY(-16px);
    bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  /* ---------- intro sections ---------- */
	.intro-section, .understanding-the-user .persona-container:nth-child(3), .starting-the-design .digital-wireframes {
    flex-direction: column-reverse;
    gap: 32px;
  }

  .intro-section figure, .intro-section .image-container, .intro-section .text-container {
    width: 100%;
  }

  .summary-list, .personas-section-intro, .hero-text, .subheader, .intro-text p, .thank-you-section p {
    max-width: unset;
  }

  .final-designs.intro-section {
    display: grid;
  }

  /* ---------- overview section ---------- */
  .problem-and-goal {
    flex-direction: column;
    gap: 32px;
  }

  .problem-and-goal div {
    width: 100%;
  }

  /* ---------- Quote ---------- */
  .quote p {
    font-size: 24px;
  }

  /* ---------- Personas ---------- */
  .persona-container figure {
    flex-direction: column;
    gap: 12px;
  }

  .persona-container figure .image-container {
    margin-bottom: 0;
  }

  .persona-container figcaption {
    width: 100%;
  }

  .persona-container figcaption ul {
    flex-direction: column;
    gap: 4px;
  }

  .persona-container .attribution {
    margin-top: 9px;
    position: static;
    text-align: right;
  }

  /* ---------- High-fidelity mockups ---------- */
  .intro-section.high-fidelity-text {
    margin-bottom: 32px;
  }

  /* ---------- Moving forward ---------- */
  .gallery-thumbnails.desktop-version {
    display: none;
  }

  .gallery-thumbnails.mobile-version {
    display: grid;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 16px;
  }

  .final-designs.intro-section {
    gap: 0;
  }

  .final-designs .image-container {
    flex-direction: column;
    overflow: unset;
  }

  .final-designs .image-container img {
    object-fit: contain;
  }

  .final-designs .image-container .mobile-version img {
    object-fit: cover;
  }
}

@media screen and (max-width: 576px) {
  /* ---------- Quote ---------- */
  .quote-icon {
    width: 8%;
  }

  .quote-container {
    margin-bottom: 8px;
  }

  .quote-text {
    padding-left: 32px;
    padding-right: 32px;
  }

  .quote p {
    font-size: 20px;
  }

  /* ---------- Personas ---------- */
  .persona-container h4 {
    margin-bottom: 16px;
  }

  .persona-quote {
    font-size: 16px;
  }
}

@media screen and (max-width: 420px) {
  /* ---------- Quote ---------- */
  .quote-text {
    padding: 0;
  }

  /* ---------- Personas ---------- */
  .goals-and-frustrations ul {
    padding-left: 16px;
  }

  /* ---------- Final designs ---------- */
  .gallery-thumbnails.mobile-version {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
