:root {
	--fs-h1: 64px;
	--fs-h2: 56px;
	--fs-h3: 40px;
	--fs-h4: 32px;
	--fs-h5: 24px;
	--fs-subheader: 48px;
	--fs-body: 20px;
}

body {
	font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
	/* min-height: 100vh;
	padding: 0 16%; */
}

/* Typography styles */
h1 {
  font-size: var(--fs-h1);
  font-weight: 700;
	line-height: 1.2;
  margin-bottom: 32px;
}

h2 {
	font-size: var(--fs-h2);
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 32px;
}

h3 {
	font-size: var(--fs-h3);
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 12px;
}

h4 {
	font-size: var(--fs-h4);
	font-weight: 700;
	margin-bottom: 32px;
}

h5 {
	font-size: var(--fs-h5);
	font-weight: 700;
	margin-bottom: 0px;
}

p, li {
	line-height: 1.4;
}


/* Spacing */
.section-container {
	display: inline-block;
	margin-bottom: 100px;
	margin-left: 120px;
	margin-right: 120px;
	margin-top: 100px;
}


/* Desktop and mobile navbar */
.navbar {
	display: inline-block;
	width: 100%;
	position: fixed;
	border-bottom: 4px solid black;
	background-color: white;
	z-index: 1;
	/* blur effect */
	/* background-color: rgba(255, 255, 255, 0.9);
	z-index: 10;
	backdrop-filter: blur(10px); Adjust the pixel value for more or less blur
    -webkit-backdrop-filter: blur(10px); For Safari support */
}

.navbar .section-container, .mobile-nav-overlay .section-container {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 32px;
	margin-top: 0;
	padding-top: 32px;
}

.navbar a, .mobile-nav-overlay a {
	color: black;
	text-decoration: none;
	transition: all 0.2s;
}

.navbar li a:hover {
	text-decoration: underline;
}

.navbar li:nth-child(4) a, .navbar li:nth-child(5) a {
	align-items: center;
	display: flex;
	justify-content: center;
}

.navbar svg, .mobile-nav-overlay svg {
	height: 20px;
	width: 20px;
}

.home-link {
	font-size: 48px;
	font-weight: 600;
}

.navbar ul {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 32px;
	justify-content: end;
	width: fit-content
}

/* mobile nav */
.hamburger-icon-container {
	display: none;
}

.hamburger-icon.hide, .close-icon.hide {
	display: none;
}

.hamburger-icon.show, .close-icon.show {
	display: block;
}

/* base class */
.mobile-nav-overlay {
	background-color: white;
	height: 100vh;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.mobile-nav-overlay.hide {
	display: none;
}

.mobile-nav-overlay.show {
	display: block;
}

.mobile-navbar li {
	margin-bottom: 20px;
}

.mobile-navbar a {
	font-size: 40px;
}

/* footer */
footer .section-container {
	margin-bottom: 32px;
	margin-top: 32px;
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

footer ul {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 32px;
	justify-content: end;
	width: fit-content;
}

footer svg {
	width: 20px;
	height: 20px;
}


/* Text */
.subheader {
	font-size: 36px;
	font-weight: 300;
	line-height: 1.2;
}

/* Buttons */
.btn-primary {
	background-color: #314788;
	border-radius: 32px;
	color: white;
	padding-bottom: 12px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 12px;
	text-decoration: none;
	transition: all 0.2s;
	width: fit-content;
}

.btn-primary:hover {
	background-color: #e3eaff;
	color: black;
}


/* Section headers: MOVE TO GLOBAL STYLES */
.section-header {
	align-items: center;
	display: flex;
	justify-content: start;
	margin-bottom: 60px;
}

.section-header h2 {
	margin-bottom: 0;
	margin-right: 20px;
	width: fit-content;
}

.section-header hr {
	border-top: 4px solid black;
	margin: 0;
	position: relative;
	top: 4px;
	width: 40%;
}


/* ----------------------- MEDIA QUERIES ----------------------- */
@media screen and (max-width: 992px) {
  /* ---------- Navbar ---------- */
	.navbar .desktop-navbar {
		display: none;
	}

	.hamburger-icon-container {
		cursor: pointer;
		display: block;
	}
}



/* ------------------------------------------ */
/* p {
  font-size: var(--fs-body);
	line-height: 1.4;
	margin-bottom: 20px;
} */
/* 
a {
  color: #334789;
	font-size: var(--fs-body);
	font-weight: 500;
  text-decoration: underline;
	transition: all 0.2s;
} */

/* .subheader {
	font-size: var(--fs-subheader);
	font-weight: 300;
} */

/* ---------- Media queries ---------- */
/* @media screen and (max-width: 1200px) {
  body {
    padding: 0 8%;
  }
} */

/* @media screen and (max-width: 992px) {
	:root {
		--fs-h1: 80px;
		--fs-subheader: 36px;
	}

  body {
    padding: 0 4%;
  }
} */

/* @media screen and (max-width: 767px) {
	:root {
		--fs-h1: 60px;
		--fs-subheader: 28px;
	}
} */

/* @media screen and (max-width: 576px) {
	:root {
		--fs-h1: 48px;
		--fs-h2: 36px;
		--fs-h3: 32px;
		--fs-h4: 24px;
		--fs-body: 16px;
		--fs-subheader: 24px;
	}

	body {
    padding: 0 24px;
  }
} */
