:root {
	--fs-h1: 64px;
	--fs-h2: 56px;
	--fs-h3: 40px;
	--fs-h4: 32px;
	--fs-h5: 24px;
	--fs-subheader: 48px;
	--fs-body: 20px;
}

body {
	font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
	/* min-height: 100vh;
	padding: 0 16%; */
}

/* Typography styles */
h1 {
  font-size: var(--fs-h1);
  font-weight: 700;
	line-height: 1.2;
  margin-bottom: 32px;
}

h2 {
	font-size: var(--fs-h2);
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 32px;
}

h3 {
	font-size: var(--fs-h3);
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 12px;
}

h4 {
	font-size: var(--fs-h4);
	font-weight: 700;
	margin-bottom: 32px;
}

h5 {
	font-size: var(--fs-h5);
	font-weight: 700;
	margin-bottom: 0px;
}

/* Spacing */
.section-container {
	margin-bottom: 100px;
	margin-left: 120px;
	margin-right: 120px;
	margin-top: 100px;
}


/* Text */
.subheader {
	font-size: 36px;
	font-weight: 300;
	line-height: 1.2;
}

/* Buttons */
.btn-primary {
	background-color: #314788;
	border-radius: 32px;
	color: white;
	padding-bottom: 16px;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 16px;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-primary:hover {
	background-color: #e3eaff;
	color: black;
}


/* Section headers: MOVE TO GLOBAL STYLES */
.section-header {
	align-items: center;
	display: flex;
	justify-content: start;
	margin-bottom: 60px;
}

.section-header h2 {
	margin-bottom: 0;
	margin-right: 20px;
	width: fit-content;
}

.section-header hr {
	border-top: 4px solid black;
	margin: 0;
	position: relative;
	top: 4px;
	width: 40%;
}


/* Featured projects section */
.project-container {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 64px;
}

.project-container .text-container {
	width: 33%;
}

.project-container h3, .project-container p {
	margin-bottom: 32px;
}

.project-container .button-container {
	align-items: start;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.project-container .button-container a {
	min-width: 120px;
	text-align: center;
}

.project-container .image-container {
	width: 60%;
}

.project-container img {
	width: 100%;
}


/* Tech skills and tools section */
#tech-skills-and-tools .section-header {
	margin-bottom: 16px;
}

#tech-skills-and-tools .list-container {
	align-items: center;
	display: flex;
	gap: 200px;
	justify-content: start;
}

.tech-skills li {
	margin-bottom: 12px;
}


/* About me section */
.about-me-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.about-me-container .text-container {
	width: 33%;
}

.about-me-container .image-container {
	width: 60%;
}

.about-me-container img {
	width: 100%;
}

.about-me-container p {
	margin-bottom: 32px;
}

.about-me-container .subsection {
	margin-bottom: 32px;
}

.about-me-container h5 {
	margin-bottom: 8px;
}

.about-me-container ul {
	padding-left: 24px;
}

.about-me-container li {
	list-style: disc;
	margin-bottom: 4px;
}

.about-me-container a {
	display: inline-block;
}


/* ------------------------------------------ */
/* p {
  font-size: var(--fs-body);
	line-height: 1.4;
	margin-bottom: 20px;
} */
/* 
a {
  color: #334789;
	font-size: var(--fs-body);
	font-weight: 500;
  text-decoration: underline;
	transition: all 0.2s;
} */

/* .subheader {
	font-size: var(--fs-subheader);
	font-weight: 300;
} */

/* ---------- Media queries ---------- */
/* @media screen and (max-width: 1200px) {
  body {
    padding: 0 8%;
  }
} */

/* @media screen and (max-width: 992px) {
	:root {
		--fs-h1: 80px;
		--fs-subheader: 36px;
	}

  body {
    padding: 0 4%;
  }
} */

/* @media screen and (max-width: 767px) {
	:root {
		--fs-h1: 60px;
		--fs-subheader: 28px;
	}
} */

/* @media screen and (max-width: 576px) {
	:root {
		--fs-h1: 48px;
		--fs-h2: 36px;
		--fs-h3: 32px;
		--fs-h4: 24px;
		--fs-body: 16px;
		--fs-subheader: 24px;
	}

	body {
    padding: 0 24px;
  }
} */
