:root {
  /* Typography variables */
  --fs-h1: 32px;
  --fs-h2: 24px;
  --fs-body: 16px;
}

/* Typography styles */
h1 {
  font-size: var(--fs-h1);
  font-weight: 700;
  margin-bottom: 32px;
}

h2 {
	font-size: var(--fs-h2);
	font-weight: 600;
	margin-bottom: 32px;
}

p {
  font-size: var(--fs-body);
}

a {
  /* border: 3px solid red; */
  /* color: #375293; */
  /* text-decoration: none; */
}


/* Footer */
.footer {
	bottom: 0;
	padding: 24px 0;
	position: absolute;
	text-align: center;
	width: 100%;
	border-top: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

.footer p {
	width: fit-content;
}

.footer-social-nav {
	width: fit-content;
  display: none;
	align-items: center;
}

.footer-social-nav li {
	margin-right: 16px;
}

.footer-social-nav li:nth-child(3) {
	margin-right: 0;
}

.footer svg {
	width: 20px;
	height: 20px;
}



/* ---------- Media Queries ---------- */
@media only screen and (min-width: 576px) {
  .footer-social-nav {
    display: flex;
  }
}

@media only screen and (min-width: 767px) {
  :root {
    --fs-h1: 40px;
    --fs-h2: 32px;
  }
}

@media only screen and (min-width: 992px) {
  :root {
    --fs-h1: 60px;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --fs-h1: 80px;
    --fs-h2: 48px;
  }
}


/* @media only screen and (min-width: 1400px) {
  :root {
    --fs-h1: 80px;
  }
} */