/* variables */



/* ---------- Media queries ---------- */
@media only screen and (min-width: 200px) {
	html {
		min-height: 100vh;
		position: relative;
	}

	body {
		font-family: 'Barlow', sans-serif;
	}

	/* ----- Mobile navbar ----- */
	.mobile-nav {
		align-items: center;
		background-color: #fff;
		border-bottom: 1px solid black;
		display: flex;
		justify-content: end;
		padding: 20px 0;
		position: fixed;
		width: 100%;
		z-index: 1;
	}

	/* Mobile nav icon container */
	.mobile-nav-icon {
		cursor: pointer;
		height: 28px;
		margin-right: 16px;
		width: 28px;
	}

	/* Mobile icon */
	.mobile-nav-icon svg {
		width: 100%;
	}

	/* Hamburger icon (hide icon) */
	#hamburger-icon.hide {
		display: none;
	}

	/* Close icon */
	#close-icon {
		bottom: 3px;
		display: none;
		position: relative;
	}

	/* Show close icon */
	#close-icon.show {
		display: block;
	}

	/* Mobile nav menu (hide menu) */
	.mobile-nav-menu {
    background-color: white;
		display: none;
		height: 100vh;
		position: absolute;
		top: 100%;
		width: 100%;
	}

	/* Show menu */
	#mobile-nav-menu.show {
		display: block;
	}

	/* Mobile nav links container */
	.mobile-nav-links {
		left: 50%;
		position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
	}

	/* Nav links */
	.mobile-nav-links li {
		margin-bottom: 30px;
	}

	/* ----- Main content ----- */
	main {
		padding: 64px 16px;
		padding-top: 128px;
		position: relative;
	}

	.main-section {
		display: flex;
		flex-direction: column;
		margin-bottom: 64px;
	}

	h2 {
		font-size: 20px;
		font-weight: 600;
    margin-bottom: 32px;
    text-align: center;
	}

	/* Image container  */
	.image-container {
		border: 1px solid black;
		margin-bottom: 32px;
		width: 100%;
	}

	.image-container img {
		width: 100%;
	}

	/* Text container */
	.text-container {
		width: 100%;
	}

	/* Header and description */
	.text-container-text {
		margin-bottom: 64px;
	}

	.text-container h1 {
		font-size: 32px;
		font-weight: 700;
		margin-bottom: 32px;
	}

	.text-container p {
		font-size: 16px;
		line-height: 1.5;
		margin-bottom: 32px;
	}

	/* Links */
	.text-container-links {
		margin-bottom: 64px;
	}

	.text-container-links h2, .contact-links h2 {
		border-bottom: 1px solid lightgrey;
    padding-bottom: 16px;
	}

	.text-container-links ul {
		display: flex;
		flex-direction: column;
		gap: 24px;
		text-align: center;
	}

	.contact-links ul {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 16px;
		justify-content: space-evenly;
	}

	.contact-links li {
		align-items: center;
		display: flex;
    justify-content: center;
	}

	.contact-links li svg {
		margin-right: 20px;
		width: 10%;
	}

	.contact-links .resume-icon {
		width: 8%;
	}

	.contact-links li a {
		width: 50%;
	}

	/* ----- Footer ----- */
	.footer {
		background-color: skyblue;
    bottom: 0;
    padding: 24px 0;
		position: absolute;
		text-align: center;
		width: 100%;
	}
}
