/* ---------- Main content ---------- */
.main-section {
	display: flex;
	flex-direction: column;
	margin-top: 64px;
}

/* Image container  */
.image-container {
	margin-bottom: 32px;
	width: 100%;
}

.image-container img {
	width: 100%;
}

/* Text container */
.text-container {
	width: 100%;
}

/* Description */
.text-container p {
	font-size: 16px;
	/* line-height: 1.5; */
	margin-bottom: 32px;
}

/* ----- Links section ----- */
.links-section {
	margin-bottom: 64px;
}

.links-container-links {
	margin-bottom: 64px;
}

.links-container-links:nth-child(2) {
	margin-bottom: 0;
}

.links-container-links h2 {
	border-bottom: 1px solid lightgrey;
	margin: 0 auto;
	margin-bottom: 32px;
	padding-bottom: 16px;
	width: 75%;
	text-align: center;
}

.links-container ul {
	display: flex;
	flex-direction: column;
	gap: 24px;
	text-align: center;
}

/* ---------- Media queries ----------  */
@media only screen and (min-width: 576px) {
	.image-container {
		width: 60%;
		margin: 0 auto;
		margin-bottom: 32px;
	}

	.text-container {
		text-align: center;
	}

	.links-container {
		display: flex;
		justify-content: center;
	}

	.links-container-links {
		width: 50%;
	}

	.contact-links ul {
    margin: 0 auto;
	}
}

@media only screen and (min-width: 767px) {
	.image-container {
		width: 50%;
	}
}

@media only screen and (min-width: 992px) {
	/* Hide the top nav */
	.top-navbar {
		display: none;
	}

	/* Main element */
  main {
    margin-bottom: 0;
    position: absolute;
    left: 50%;
    width: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
  }

	.main-section {
		flex-direction: unset;
		margin-bottom: 32px;
		gap: 32px;
		align-items: end;
	}

	/* image container */
	.image-container {
		margin-bottom: 0;
		display: flex;
    align-items: center;
    justify-content: center;
	}

	/* text container */
	.text-container {
		text-align: left;
	}

	.text-container p {
		margin-bottom: 0;
	}

	.text-container-text {
		margin-bottom: 0;
	}

	/* links container */
	.links-container {
		width: 100%;
		gap: 32px;
	}

	.links-container ul {
		gap: 0;
		text-align: left;
	}

	.links-container-links {
		margin-bottom: 0;
		width: 100%;
	}

	.links-container-links h2 {
		padding: 0;
		margin: 0;
		text-align: left;
		padding-bottom: 16px;
		margin-bottom: 16px;
		width: 100%;
	}

	.links-container-links ul {
		flex-direction: unset;
		gap: 32px;
	}
}

@media only screen and (min-width: 1200px) {
	.main-section {
		margin-bottom: 64px;
	}
}
