body {
	align-items: center;
	background-color: #fff5eb;
	display: flex;
	justify-content: start;
	margin: 0;
	min-height: 100vh;
	padding: 0 16%;
}

.homepage-main-content {
	margin: 0 auto;
	max-width: 1220px;
	padding: 0 30px;
}

/* ---------- Header and subheader ---------- */
h1 {
	margin-bottom: 0;
}

.subheader {
	margin-bottom: 20px;
}

.homepage-hero-text {
	margin-bottom: 80px;
}

/* ---------- Social links ---------- */
.social-links {
	align-items: center;
	display: flex;
	gap: 36px;
	justify-content: start;
}

.social-links svg {
	height: 40px;
	width: 40px;
}

/* ---------- Portfolio links ---------- */
.portfolio-links {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: fit-content;
}

.portfolio-links a {
	color: #000;
	font-size: 32px;
	font-weight: 400;
	text-decoration: none;
}

.portfolio-links a:hover {
	color: #314788;
}

.portfolio-link-info {
	display: inline-block;
	font-size: 20px;
	font-style: italic;
	margin-left: 48px;
	opacity: 0;
}
