.subheader {
	margin-bottom: 64px;
	max-width: 66%;
}

.button-container {
	align-items: center;
	display: flex;
	gap: 12px;
	justify-content: start;
}

/* Featured projects section */
.project-container {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 64px;
}

.project-container .text-container {
	width: 33%;
}

.project-container h3, .project-container p {
	margin-bottom: 32px;
}

.project-container .button-container {
	align-items: start;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.project-container .button-container a {
	text-align: center;
}

.project-container .image-container {
	width: 60%;
}

.project-container img {
	width: 100%;
}

/* Tech skills and tools section */
#tech-skills-and-tools .section-header {
	margin-bottom: 16px;
}

#tech-skills-and-tools .list-container {
	align-items: center;
	display: flex;
	gap: 200px;
	justify-content: start;
}

.tech-skills li {
	margin-bottom: 12px;
}



/* About me section */
.about-me-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.about-me-container .text-container {
	width: 33%;
}

.about-me-container .image-container {
	width: 60%;
}

.about-me-container img {
	width: 100%;
}

.about-me-container p {
	margin-bottom: 32px;
}

.about-me-container .subsection {
	margin-bottom: 32px;
}

.about-me-container h5 {
	margin-bottom: 8px;
}

.about-me-container ul {
	padding-left: 24px;
}

.about-me-container li {
	list-style: disc;
	margin-bottom: 4px;
}

.about-me-container a {
	display: inline-block;
}


/* Let's connect section */
.contact-container {
	align-items: start;
	display: flex;
	gap: 7%;
	justify-content: start;
}

.text-container {
	width: 33%;
}

.form-container {
	width: 40%;
}

.social-links {
	align-items: center;
	display: flex;
	gap: 36px;
	justify-content: start;
}

.social-links svg {
	height: 32px;
	transition: fill 0.2s;
	width: 32px;
}

.social-links svg:hover {
	fill: #e3eaff;
}

.contact-container p {
	margin-bottom: 20px;
}

.form-container input, .form-container textarea {
	border: 2px solid #000;
	border-radius: 16px;
	font-family: "Inter", sans-serif;
	padding: 12px;
}

#contact-form {
	display: grid;
	grid-gap: 24px;
	grid-template-columns: 1fr 1fr;
}

.form-container #subject, .form-container #form-message {
	grid-column-end: 3;
	grid-column-start: 1; 
}

.form-container button {
	border: none;
	cursor: pointer;
	width: fit-content;
}

/* footer */
footer {
	border-top: 4px solid black;
}


/* media queries */
@media screen and (max-width: 767px) {
	.subheader {
		margin-bottom: 32px;
		max-width: unset;
	}

	.button-container {
		align-items: start;
		flex-direction: column;
		width: fit-content;
	}

	.button-container a {
		text-align: center;
		width: 100%;
	}
}

@media screen and (max-width: 992px) {
	.project-container {
		align-items: start;
	}
}

@media screen and (max-width: 767px) {
	.project-container {
		align-items: center;
		flex-direction: column-reverse;
		gap: 16px;
	}

	.project-container .image-container, .project-container .text-container {
		width: 100%;
	}
}

@media screen and (max-width: 576px) {
	.project-container h3, .project-container p {
		margin-bottom: 16px;
	}
}


/* --------------------------------------------------------------- */

/* body {
	align-items: center;
	display: flex;
	justify-content: start;
	margin: 0;
	position: relative;
	used to remove flash of unstyled content for page load animation
	https://gsap.com/resources/fouc/
	visibility: hidden;
} */

/* .homepage-main-content {
	margin: 0 auto;
	max-width: 1220px;
} */

/* ---------- Header and subheader ---------- */
/* h1 {
	margin-bottom: 0;
} */

/* .subheader {
	margin-bottom: 20px;
} */

/* .homepage-hero-text {
	margin-bottom: 80px;
} */

/* ---------- Social links ---------- */
/* .social-links {
	align-items: center;
	display: flex;
	gap: 36px;
	justify-content: start;
}

.social-links svg {
	height: 32px;
	width: 32px;
	transition: fill 0.2s;
}

.social-links svg:hover {
	fill: #314788;
}

.social-links a {
	text-decoration: none;
} */

/* ---------- Portfolio links ---------- */
/* .portfolio-links {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: fit-content;
}

.portfolio-links a {
	color: #000;
	font-size: 32px;
	font-weight: 400;
	text-decoration: none;
}

.portfolio-links a:hover {
	color: #314788;
}

.portfolio-link-info {
	display: inline-block;
	font-size: 20px;
	font-style: italic;
	margin-left: 48px;
	opacity: 0;
} */

/* ---------- Footer ---------- */
/* .footer {
	align-items: center;
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 100%;
}

.footer p {
	font-size: 16px;
	font-weight: 300;
} */

/* ---------- media queries ---------- */
/* @media screen and (max-width: 992px) {
	.portfolio-links a {
		font-size: 28px;
	}
}

@media screen and (max-width: 767px) {
	.portfolio-links a {
		font-size: 20px;
	}

	.social-links svg {
		height: 32px;
		width: 32px;
	}
}

@media screen and (max-width: 576px) {
	.portfolio-link-info {
		display: none;
	}

	.social-links svg {
		height: 28px;
		width: 28px;
	}

	.footer {
		justify-content: left;
		left: 0;
		padding: 0 24px;
		transform: unset;
		width: 88%;
	}
}

@media screen and (max-width: 418px) {
	h1 {
		margin-bottom: 8px;
	}
} */