body {
  background-color: #000;
}

/* ---------- Sidenav and table of contents ---------- */
.sidenav, .navbar a, .table-of-contents p {
  color: #fff;
}

h1 {
  font-size: 64px;
}

.sidenav {
  grid-template-rows: 0.3fr 2fr;
}

.sidenav-text-container {
  margin-bottom: 60px;
}

/* ----- TL;DR (for mobile) ----- */
.tldr {
  display: none;
}

/* ---------- Main content ---------- */
.main-content {
  background-color: #000;
}

/* ----- Project card ----- */
.project-card {
  margin-bottom: 80px;
}

.project-card:last-child {
  margin-bottom: 0;
}

.image-container {
  margin-bottom: 28px;
}

.section-image {
  width: 100%;
}

/* Project description */
.project-description {
  margin-bottom: 28px;
}

/* Tags */
.project-tags {
  align-items: center;
  display: flex;
  justify-content: start;
  margin-bottom: 32px;
}

.project-tags li {
  border-right: 2px solid #fff;
  padding-right: 30px;
}

.project-tags li:nth-child(2) {
  padding-left: 30px;
}

.project-tags li:last-child {
  border-right: none;
  padding-left: 30px;
  padding-right: 0;
}

.project-tags p {
  margin-bottom: 0;
  text-transform: uppercase;
}

/* Buttons */
.button-container {
  align-items: center;
  display: flex;
  gap: 28px;
  justify-content: start;
}

.project-link-button {
  align-items: center;
  background-color: #314788;
  border-radius: 50px;
  color: #fff;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  max-width: 224px;
  padding: 12px 28px;
  text-decoration: none;
  width: 36%;
}

.project-link-button:hover {
  background-color: #fff;
  color: #000;
}

.project-link-button .button-icon {
  fill: #fff;
  height: 20px;
  margin-left: 12px;
  transition: fill 0.2s;
  width: 20px;
}

.project-link-button:hover .button-icon {
  fill: #000;
}

.project-link-button .github-icon {
  height: 24px;
  width: 24px;
}

/* ---------- media queries ---------- */
@media screen and (max-width: 1354px) {
  /* ---------- Project buttons ---------- */
  .button-container {
    align-items: start;
    flex-direction: column;
    gap: 16px;
  }

  .project-link-button {
    width: 48%;
  }
}

@media screen and (max-width: 1200px) {
  /* ---------- Project buttons ---------- */
  .button-container {
    flex-direction: row;
  }
}

@media screen and (max-width: 1114px) {
  .button-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 56px;
  }

  /* ---------- Sidenav ---------- */
  .sidenav {
    background-color: #000;
  }

  .mobile-nav-icon {
    fill: #fff;
    min-width: 40px;
  }

  .sidenav-text-container {
    margin-bottom: 0;
  }

  .additional-info {
    display: none;
  }

  .tldr {
    display: block;
  }

  /* ----- Table of contents ----- */
  .table-of-contents p {
    font-size: 24px;
  }

  .current-section {
    display: none;
  }

  /* ---------- Project cards ---------- */
  .button-container {
    flex-direction: row;
  }

  .project-link-button {
    width: 32%;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 48px;
    padding-right: 20px;
  }
  
  /* ---------- Hamburger menu ---------- */
  .mobile-nav-icon {
    min-width: 32px;
  }

  /* ---------- Table of contents ---------- */
  .table-of-contents {
    display: none;
  }

  .current-section {
    display: block;
    font-size: 36px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 660px) {
  h1 {
    font-size: 40px;
  }

  .current-section {
    font-size: 32px;
  }
}

@media screen and (max-width: 608px) {
  /* ---------- Project buttons ---------- */
  .button-container {
    flex-direction: column;
  }

  .project-link-button {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  /* ---------- Project card ---------- */
  .button-container {
    align-items: center;
  }

  .project-tags {
    justify-content: center;
  }

  .project-link-button {
    max-width: unset;
    width: 60%;
  }
}

@media screen and (max-width: 420px) {
  .project-tags li {
    padding-right: 4%;
  }
  
  .project-tags li:nth-child(2), .project-tags li:last-child {
    padding-left: 4%;
  }

  .project-link-button {
    width: 80%;
  }
}

@media screen and (max-width: 405px) {
  .mobile-nav-menu {
    top: 44%;
  }

  h1 {
    font-size: 32px;
  }

  .current-section {
    font-size: 24px;
  }

  .mobile-nav-icon {
    min-width: unset;
  }
}

@media screen and (max-width: 350px) {
  .project-tags {
    flex-direction: column;
    gap: 8px;
  }

  .project-tags li {
    border-right: none;
    padding-right: 0;
  }
  
  .project-tags li:nth-child(2), .project-tags li:last-child {
    padding-left: 0;
  }
}
