#kumiko-music-redesign .hero-section {
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url("./../images/kumiko-music-redesign/hero-image.jpg");
  background-position: right;
  background-size: cover;
  position: relative;
}

.hero-attribution {
  color: #c8cad1;
  font-size: 10px;
  margin-top: 8px;
  position: absolute;
  right: 12px;
}

.hero-attribution a {
  color: #c8cad1;
}

.intro-section.navigation, .intro-section.readability {
  flex-direction: row-reverse;
}

/* media queries */
@media screen and (max-width: 767px) {
	.intro-section.navigation, .intro-section.readability {
    flex-direction: column-reverse;
  }
}