#post-op-services .hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./../images/post-op-services/hero-image.jpg");
  background-size: cover;
}

.intro-section.persona-container {
  margin-bottom: 0;
}

.final-designs.intro-section {
  margin-bottom: 64px;
}

.prototype.intro-section {
  flex-direction: row-reverse;
}