/* ---------- Main content ---------- */
.main-content-section {
  /* background-color: red; */
  color: #000;
}

/* .image-container {
  margin-bottom: 28px;
}

.section-image {
  width: 100%;
} */

h4 {
  font-size: 28px;
  font-weight: 200;
}

/* ---------- Jobs and education ---------- */
.job ul, .education-list {
  /* border: 3px solid red; */
  list-style-type: disc;
  padding-left: 32px;
}

.job li, .education-list li {
  font-size: var(--fs-body);
  line-height: 1.4;
  margin-bottom: 20px;
}

/* ---------- media queries ---------- */
@media screen and (max-width: 576px) {
  .mobile-nav-menu {
    top: 44%;
  }

  h4 {
    font-size: 24px;
  }

  /* .job li, .education-list li {
    font-size: var(--fs-body);
  } */
}

@media screen and (max-width: 405px) {
  .mobile-nav-menu {
    top: 44%;
  }
}