#weather-trends .hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./../images/bakery-board/new-bakery-board-app.png");
  /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./../images/bakery-board/new-bakery-board-app.png"); */
  background-position: 80% 84px;
  background-repeat: no-repeat;
  background-size: contain;
  border: 3px solid red;
}

/* -------------------- */
.user-onboarding .slideshow img, .responsive-experiences .slideshow img, .maps-and-controls .slideshow img, .historical-data .slideshow img {
  height: 100%;
}



/* -------------------- */




/* lofi prototype */
.lofi-prototype.intro-section {
  margin-bottom: 0;
}

.lofi-prototype p {
  margin-bottom: 32px;
}

.lofi-prototype a {
  display: inline-block;
}

/* refining the design */
.refining-the-design .readability, .refining-the-design .homepage, .refining-the-design .prototype, .refining-the-design .user-dashboard {
  flex-direction: row-reverse;
}

.refining-the-design .responsive-design {
  margin-bottom: 120px;
}

.refining-the-design .clearer-language img, .refining-the-design .homepage img, .refining-the-design .responsive-design img, .refining-the-design .prototype img, .refining-the-design .user-dashboard img, .refining-the-design .easier-nav img, .refining-the-design .quick-add img {
  height: 100%;
  object-fit: contain;
}

.refining-the-design .prototype a:last-child {
  margin-top: 16px;
}


/* ---------- media queries ---------- */
@media screen and (max-width: 1200px) {
  #bakery-board .hero-section {
    background-position: 94% 84px;
  }
}

@media screen and (max-width: 886px) {
  .prototype a {
    line-height: 1.2;
  }
}

@media screen and (max-width: 767px) {
  #bakery-board .hero-section {
    background-position: 94% 70px;
  }

  #bakery-board .readability, #bakery-board .homepage, #bakery-board .prototype, #bakery-board .user-dashboard {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 576px) {
  #bakery-board .hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./../images/bakery-board/new-bakery-board-app.png");
    background-position: 94% 70px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media screen and (max-width: 420px) {
  #bakery-board .hero-section {
    background-position: 94% 63px;
  }
}
