#weather-trends .hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./../images/weather-trends-360/weather-trends-hero-image-01.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.user-onboarding .slideshow img, .responsive-experiences .slideshow img, .maps-and-controls .slideshow img, .historical-data .slideshow img {
  height: 100%;
}

.user-onboarding .summary-list p {
  margin-bottom: 32px;
}

.user-onboarding .summary-list p:last-child {
  margin-bottom: 0;
  margin-top: 32px;
}

.improving-navigation .intro-section, .responsive-experiences .watch-design, .maps-and-controls .intro-section, .historical-data .intro-section, .reflections .intro-section {
  margin-bottom: 0;
}
