/* Main section */
.main-section {
  margin-top: 64px;
}

.web-developer-projects-card {
  margin-bottom: 64px;
}

/* Image container  */
.image-container {
	margin-bottom: 32px;
	width: 100%;
}

.image-container img {
	width: 100%;
}

/* Text container */
.project-description {
  margin-bottom: 24px;
}

.technology {
  margin-bottom: 32px;
}

.project-links {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 32px;
}

/* ---------- Media Queries ---------- */
@media only screen and (min-width: 576px) {
  h1, h2, .technology {
    text-align: center;
  }

  hr {
    margin-bottom: 16px;
  }

  .image-container {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 32px;
  }

  .project-links {
    justify-content: center;
  }
}

