/* Main section */
.main-section {
  margin-top: 64px;
}

.ux-design-projects-card {
  margin-bottom: 64px;
}

/* Image container  */
.image-container {
	margin-bottom: 32px;
	width: 100%;
}

.image-container img {
	width: 100%;
}

/* Text container */
.project-description {
  margin-bottom: 24px;
}

/* ----- Project 3 ----- */
.project-3 .image-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.project-3-thumbnail {
  border: 1px solid #c4cede;
}

/* ---------- Media Queries ---------- */
@media only screen and (min-width: 576px) {
  h1, h2, .technology {
    text-align: center;
  }

  hr {
    margin-bottom: 16px;
  }

  .image-container {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 32px;
  }

  .text-container-text a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 767px) {
  h1 {
    margin-bottom: 64px;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .ux-design-projects-card {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 32px;
  }

  .projects-cards-container {
    margin-bottom: 80px;
  }

  .image-container {
    width: 40%;
    margin: 0;
    /* for positioning the snack app thumbnail */
    position: relative;
    top: 10px;
  }

  .text-container {
    width: 55%;
  }

  h2 {
    text-align: left;
  }

  .text-container-text a {
    justify-content: start;
  }
}

@media only screen and (min-width: 992px) {
  main {
    padding-left: 0;
    padding-right: 0;
  }

  .projects-cards-container {
    max-width: 936px;
    margin: 0 auto;
  }

  h2 {
    font-size: 48px;
  }
}
