.case-study-page {
  padding-left: 0;
  padding-right: 0;
}

.section-container {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: var(--block-lg);
}

/* project subsections */
.project-subsection {
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 20px; 
}

hr {
  margin-bottom: 32px;
}

/* h4 {
  font-weight: 600;
} */

/* ---------- Hero section ---------- */
.hero-section {
  margin-top: var(--block-lg);
}

/* ----- Image container ----- */
.image-container {
  margin-bottom: 32px;
  width: 100%;
}

.image-container img {
  width: 100%;
}

/* ---------- Understanding the user ---------- */
/* ----- User research ----- */
.user-research {
  margin-bottom: 32px;
}

.user-research p:nth-child(2) {
  margin-bottom: 20px;
}

/* ----- Pain points ----- */
.pain-points > div {
  margin-bottom: 32px;
}

/* .pain-points h4 {
  margin-bottom: 8px;
} */

/* ----- Personas ----- */
.persona {
  margin-bottom: var(--block-lg);
}

.persona-image {
  max-width: 440px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.persona h4, .persona-details, .persona-bio, .persona-quote, .goals {
  margin-bottom: 20px;
}

/* Persona details */
/* .persona-details li {
  margin-bottom: 8px;
} */

.persona-details span {
  font-weight: 600;
}

.persona-quote {
  font-style: italic;
  font-size: 24px;
}

/* Persona goals and frustrations */
.goals ul, .frustrations ul {
  list-style: disc;
  padding-left: 28px;
}

/* problem statements */
.charlie-henderson-problem {
  margin-bottom: 32px;
}

/* ---------- User journey maps ---------- */
.persona-user-journey p {
  margin-bottom: 20px;
}

.persona-user-journey span {
  font-weight: 600;
}

/* ----- User journey CTA ----- */
.user-journey-cta {
  font-style: italic;
  text-align: right;
}

/* ----- User journeys table ----- */
.user-journey-table table, th, td {
  border: 1px solid black;
}

/* Horizontal scroll on mobile */
.user-journey-table {
  overflow-x: scroll;
}

.user-journey-table.charlie-henderson-user-journey {
  margin-bottom: var(--block-lg);
}

.user-journey-table table {
  min-width: 1200px;
}

td {
  padding: 20px;
  text-align: left;
}

th {
  /* padding: 32px 20px; */
  padding: 20px;
  text-align: center;
}

/* Headers and first column styles */
th:first-child, td:first-child, th {
  background-color: skyblue;
  vertical-align: middle;
  /* font-size: 20px; */
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

td:first-child, thead th:first-child {
  background-color: gray;
}

td ul {
  list-style-type: disc;
  padding-left: 12px;
}

td li {
  margin-bottom: 4px;
  /* background-color: red; */
}

td li:last-child {
  /* background-color: red; */
  margin-bottom: 0;
}

/* ---------- Starting the design section ---------- */
/* ----- Paper wireframes and digital wireframes (mobile) ----- */
.paper-wireframes .image-container, .digital-wireframes .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img.mobile-wireframes {
  max-width: 300px;
  width: 90%;
}

img.mobile-wireframes:first-child {
  margin-bottom: 32px;
}

/* ----- Low-fidelity prototype ----- */
.low-fidelity-prototype p:nth-child(3) {
  margin-bottom: 20px;
}

/* ----- Usability study ----- */
.usability-study p {
  margin-bottom: 20px;
}

.usability-study h4 {
  margin-bottom: 20px;
}

/* Findings */
.usability-study ul {
  list-style: disc;
  padding-left: 28px;
}

/* ---------- Refining the design section ---------- */
.refined-mockups-1 .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* ----- Mockups ----- */
.refined-mockups-1 .mockups {
  max-width: 300px;
  width: 90%;
}

img.mockups:first-child {
  margin-bottom: 32px;
}

/* Down arrow */
.down-arrow {
  font-size: 100px;
  margin-bottom: 32px;
}

/* Right arrow */
.right-arrow {
  display: none;
}

/* ----- High-fidelity prototype #1 ----- */
.hifi-prototype-1 p:nth-child(3) {
  margin-bottom: 20px;
}

/* ----- Usability study 2 ----- */
.usability-study-2 h4 {
  margin-bottom: 20px;
}

.usability-study-2 p {
  margin-bottom: 20px;
}

/* Findings */
.usability-study-2 ul {
  list-style: disc;
  padding-left: 28px;
}

/* ----- Mockups 2 ----- */
.refined-mockups-2 .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.refined-mockups-2 img:first-child {
  margin-bottom: 32px;
}

.refined-mockups-2 .mockups-2 {
  max-width: 300px;
  width: 90%;
}

/* ----- Final mockups and final prototype ----- */
.final-mockups .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0;
}

.final-mockups img {
  max-width: 300px;
  width: 90%;
  margin-bottom: 32px;
}

/* ----- Accessibility ----- */
/* .accessibility span {
  font-weight: 600;
} */

/* .accessibility p {
  margin-bottom: 20px;
}

.accessibility p:nth-child(5) {
  margin-bottom: 0;
} */

.accessibility .text-container > div {
  /* border: 3px solid red; */
  margin-bottom: 32px;
}

/* ---------- Going forward section ---------- */
/* ----- Takeaways ----- */
/* .takeaways h4 {
  margin-bottom: 20px;
} */

.takeaways .impact {
  margin-bottom: 32px;
}

/* ----- Next steps ----- */
.next-steps p {
  margin-bottom: 20px;
}

.next-steps p:last-child {
  margin-bottom: 0;
}

/* ---------- Media queries ---------- */
@media only screen and (min-width: 576px) {
  h1, h2, h3, h4 {
    text-align: center;
  }

  .section-container {
    padding-left: 32px;
    padding-right: 32px;
  }

  /* ----- Project subsections for all sections ----- */
  .project-subsection p {
    text-align: center;
    /* border: 3px solid red; */
    max-width: 600px;
    margin: 0 auto;
  }

  /* ---------- Hero section ---------- */
  /* .hero-section {
    margin-bottom: 64px;
  } */

  .hero-section p {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
  }

  /* ---------- Understanding the user section ---------- */
  /* ----- Persona details ----- */
  .persona-details {
    /* border: 3px solid orange; */
    text-align: center;
  }

  p.persona-bio {
    /* background-color: red; */
    margin-bottom: 20px;
  }

  p.persona-quote {
    margin-bottom: 20px;
  }

  /* ----- Goals and frustrations ----- */
  .goals, .frustrations {
    /* border: 3px solid green; */
    text-align: center;
  }

  .goals ul, .frustrations ul {
    /* list-style-type: none;
    padding-left: 0; */
    width: 100%;
    margin: 0 auto;
    max-width: 400px;
  }

  .goals li, .frustrations li {
    text-align: left;
  }

  /* ----- Problem statements ----- */
  p.charlie-henderson-problem {
    /* border: 3px solid green !important; */
    margin-bottom: 20px;
  }

  /* ----- User journey maps ----- */
  .persona-user-journey p:nth-child(1), .persona-user-journey p:nth-child(2) {
    margin-bottom: 20px;
  }

  p.user-journey-cta {
    max-width: unset;
    text-align: right;
  }

  /* ---------- Starting the design ---------- */
  /* ----- Digital wireframes ----- */
  .digital-wireframes > p:nth-child(3) {
    /* background-color: green; */
    margin-bottom: 20px;
  }

  /* ----- Usability study ----- */
  .usability-study h4 {
    text-align: center;
    margin-bottom: 20px;
  }

  .usability-study p {
    /* background-color: orange; */
    margin-bottom: 20px;
  }

  .usability-study ul {
    /* border: 3px solid green; */
    text-align: center;
    /* padding-left: 0; */
    list-style-type: disc;
    max-width: 400px;
    margin: 0 auto;
  }

  .usability-study li {
    text-align: left;
  }

  /* ----- Usability study #2 ----- */
  /* .usability-study-2 h4 {
    text-align: center;
    margin-bottom: 20px;
  }

  .usability-study-2 p {
    margin-bottom: 20px;
  }
  
  .usability-study-2 ul {
    border: 3px solid green;
    text-align: center;
    padding-left: 0;
    list-style-type: disc;
    max-width: 400px;
    margin: 0 auto;
  }

  .usability-study li {
    text-align: left;
  } */

  /* ----- Accessibility ----- */
  /* .accessibility > p:nth-child(3), .accessibility > p:nth-child(4) {
    border: 3px solid pink;
    margin-bottom: 20px;
  } */
  .accessibility .text-container p {
    /* border: 3px solid red; */
    margin-bottom: 20px;
  }

  .accessibility .text-container p:last-child {
    /* border: 3px solid blue; */
    margin-bottom: 0;
  }

  /* ---------- Going forward ---------- */
  /* ----- Takeaways ----- */
  .takeaways h4 {
    text-align: center;
  }

  .impact p:nth-child(2) {
    /* border: 3px solid blue; */
    margin-bottom: 20px;
  }

  /* ----- Next steps ----- */
  .next-steps p:nth-child(2), .next-steps p:nth-child(3) {
    /* border: 3px solid blue; */
    margin-bottom: 20px;
  }
}




@media only screen and (min-width: 767px) {
  h2 {
    margin-bottom: 32px;
  }

  .section-container {
    margin-bottom: 128px;
  }

  .section-container hr {
    margin-bottom: 48px;
  }

  /* ----- Image container for all sections ----- */
  .image-container {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 32px;
  }

  /* ---------- Project Overview ---------- */
  .project-overview-container {
    /* border: 3px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
    grid-column-gap: 60px;
    padding: 0 60px;
  }

  .project-overview-section .project-subsection {
    /* background-color: green; */
    margin-bottom: 0;
  } 

  .product-subsection {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .problem-subsection {
    /* grid-column-start: 1;
    grid-column-end: 2; */
  }

  .responsibilities-subsection {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  /* Paper and digital wireframes */
  .paper-wireframes .image-container, .digital-wireframes .image-container {
    flex-direction: row;
    align-items: unset;
    width: 100%;
    justify-content: space-evenly;
  }

  img.mobile-wireframes:first-child {
    margin-bottom: 0;
  }

  /* ---------- Refining the design ---------- */
  /* Refined mockups */
  .refined-mockups-1 .image-container, .refined-mockups-2 .image-container {
    /* border: 3px solid blue; */
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }

  img.mockups:first-child {
    margin-bottom: 0;
  }

  .refined-mockups-2 img:first-child {
    margin-bottom: 0;
  }

  .down-arrow {
    /* margin-bottom: 0;
    transform: rotate(-90deg); */
    display: none;
  }

  .right-arrow {
    display: block;
    font-size: 100px;
  }

  /* ----- Final Mockups ----- */
  .final-mockups .image-container {
    /* border: 3px solid blue; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-items: center;
    grid-row-gap: 32px;
    margin-bottom: 32px;
    max-width: 704px;
  }

  .final-mockups img {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 992px) {
  .section-container {
    /* padding-left: 32px; */
    padding-left: 60px;
    /* padding-right: 32px; */
    padding-right: 60px;
  }

  .project-subsection {
    /* margin-bottom: 0; */
    /* margin-bottom: 32px; */
  }

  /* ---------- Project overview section ---------- */
  h3 {
    font-size: var(--fs-h3);
  }

  .project-overview-container {
    /* border: 3px solid red; */
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    gap: 32px;
    padding-left: 0;
    padding-right: 0;
  }

  .project-overview-container .image-container {
    margin-bottom: 0;
  }

  .project-subsection p {
    max-width: unset;
  }

  .project-subsections-container h3 {
    text-align: left;
  }

  .product-subsection, .problem-subsection, .goal-subsection {
    /* grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px; */
  }

  /* project overview subsections */
  .problem-subsection {
    /* flex-direction: row-reverse; */
  }

  .product-subsection p, .problem-subsection p, .goal-subsection p {
    text-align: left;
    max-width: unset;
  }

  /* Goal subsection */
  .goal-subsection {
    margin-bottom: 32px;
  }

  /* Duration, role, responsibilities row */
  .duration-subsection .image-container, 
  .role-subsection .image-container, 
  .responsibilities-subsection .image-container {
    width: 100%;
    margin-bottom: 32px;
  }

  .duration-subsection p, 
  .role-subsection p, 
  .responsibilities-subsection p {
    text-align: left;
  }

  /* ---------- Understanding the user section ---------- */
  /* .understanding-the-user-section .project-subsection,
  .starting-the-design-section .project-subsection,
  .refining-the-design-section .project-subsection,
  .going-forward-section .project-subsection {
    margin-bottom: 32px;
  } */

  /* ----- User Research ----- */
  .user-research > p {
    text-align: left;
  }

  /* ----- Pain points ----- */
  .pain-points {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* border: 3px solid red; */
    grid-column-gap:  32px;
  }

  .pain-points h3 {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .pain-points h4 {
    text-align: left;
  }

  .pain-points p {
    text-align: left;
  }

  /* ----- personas ----- */
  .persona {
    /* border: 3px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* align-items: center; */
    grid-gap: 32px;
  }

  .persona-image {
    width: 100%;
    margin-bottom: 0;
  }

  .persona h4 {
    text-align: left;
  }

  .persona-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .persona-details {
    text-align: left;
  }
  
  .persona-bio, .persona-quote {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  p.persona-bio {
    text-align: left;
    margin-bottom: 0;
  }

  p.persona-quote {
    margin-bottom: 0;
  }

  .goals {
    margin-bottom: 0;
  }

  /* ----- Problem statements ----- */
  .problem-statements p {
    /* border: 3px solid red; */
    text-align: left;
  }

  /* ---------- Starting the design ---------- */
  /* ----- Paper and digital wireframes ----- */
  .paper-wireframes .image-container, .digital-wireframes .image-container {
    max-width: 872px;
    margin: 0 auto;
    margin-bottom: 32px;
  }

  .paper-wireframes p, .digital-wireframes p {
    text-align: left;
  }

  /* ----- Low-fidelity prototype ----- */
  .low-fidelity-prototype .image-container {
    width: 100%;
  }

  .low-fidelity-prototype p {
    text-align: left;
  }

  /* ----- Usability study #1 ----- */
  .usability-study ul {
    /* border: 3px solid red; */
    max-width: 424px;
  }

  /* ---------- Refining the design ---------- */
  /* ----- Mockups ----- */
  .refined-mockups-1 .image-container, .refined-mockups-2 .image-container {
    max-width: 872px;
  }

  .refined-mockups-1 p {
    /* border: 3px solid red; */
    text-align: left;
  }

  /* ----- High fidelity prototype ----- */
  .hifi-prototype-1 p {
    text-align: left;
  }

  /* ----- Refined mockups #2 ----- */
  .refined-mockups-2 p {
    text-align: left;
  }

  /* ----- High fidelity prototype #2 ----- */
  .hifi-prototype-2 p {
    text-align: left;
  }

  /* ----- Final mockups ----- */
  .final-mockups p {
    text-align: left;
  }

  /* ----- Accessibility ----- */
  .accessibility .text-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 32px;
  }

  .accessibility h3 {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  /* .accessibility span {
    display: block;
    font-size: var(--fs-h4);
  } */

  .accessibility h4 {
    text-align: left;
  }

  .accessibility p {
    text-align: left;
  }

  /* ---------- Going forward ---------- */
  .takeaways p, .next-steps p {
    text-align: left;
  }
}

@media only screen and (min-width: 1200px) {
  /* .section-container hr {
    margin-bottom: 80px;
  } */

  /* ---------- Project overview section ---------- */
  .project-overview-container {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 36px;
  }

  /* ----- Product subsection ----- */
  .product-subsection {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  /* ----- Role subsection ----- */
  .role-subsection {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  /* ----- Responsibilities subsection ----- */
  .responsibilities-subsection {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  /* ---------- Understanding the user ---------- */
  /* ----- Personas subsection ----- */
  .personas-subsection h3 {
    margin-bottom: 48px;
  }

  /* ----- Persona ----- */
  .persona {
    row-gap: 60px;
    margin-bottom: 128px;
  }

  /* ----- Quote ----- */
  .persona-quote {
    font-size:  28px;
  }

  /* ----- Goals and frustrations ----- */
  .goals ul, .frustrations ul {
    /* border: 3px solid red; */
    max-width: unset;
    width: auto;
    /* background: red; */
  }


  /* ---------- User journey maps ---------- */
  .user-journey-cta {
    display: none;
  }

  .user-journey-table table {
    min-width: unset;
  }

  /* ---------- Refining the design ---------- */
  .hifi-prototype-1 .image-container, .hifi-prototype-2 .image-container {
    width: 100%;
  }

  .final-mockups .image-container {
    /* border: 3px solid red; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: unset;
  }
}


/* START ON MARGIN-BOTTOMS NEXT FOR HEADERS AT 1200PX BREAKPOINT! */