.case-study-page {
  padding-left: 0;
  padding-right: 0;
}

.section-container {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 64px;
}

/* project subsections */
.project-subsection {
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 20px; 
}

hr {
  margin-bottom: 32px;
}

h4 {
  font-weight: 600;
}

/* ---------- Hero section ---------- */
.hero-section {
  margin-top: 64px;
}

/* ----- Image container ----- */
.image-container {
  margin-bottom: 32px;
  width: 100%;
}

.image-container img {
  width: 100%;
}

/* ---------- Understanding the user ---------- */
/* ----- User research ----- */
.user-research {
  margin-bottom: 32px;
}

.user-research p:nth-child(2) {
  margin-bottom: 16px;
}

/* ----- Pain points ----- */
.pain-points > div {
  margin-bottom: 32px;
}

.pain-points h4 {
  margin-bottom: 8px;
}

/* ----- Personas ----- */
.persona {
  margin-bottom: 64px;
}

.persona-text h4, .persona-details, .persona-bio, .persona-quote, .goals {
  margin-bottom: 20px;
}

/* Persona details */
.persona-details li {
  margin-bottom: 8px;
}

.persona-details span {
  font-weight: 600;
}

.persona-quote {
  font-style: italic;
  font-size: 24px;
}

/* Persona goals and frustrations */
.goals ul, .frustrations ul {
  list-style: disc;
  padding-left: 28px;
}

.goals li, .frustrations li {
  margin-bottom: 8px;
}

/* problem statements */
.charlie-henderson-problem {
  margin-bottom: 32px;
}

/* ---------- User journey maps ---------- */
.persona-user-journey p {
  margin-bottom: 16px;
}

.persona-user-journey span {
  font-weight: 600;
}

/* ----- User journey CTA ----- */
.user-journey-cta {
  font-style: italic;
  text-align: right;
}

/* ----- User journeys table ----- */
.user-journey-table table, th, td {
  border: 1px solid black;
}

/* Horizontal scroll on mobile */
.user-journey-table {
  overflow-x: scroll;
}

.user-journey-table.charlie-henderson-user-journey {
  margin-bottom: 64px;
}

.user-journey-table table {
  min-width: 1200px;
}

td {
  padding: 20px;
  text-align: left;
}

th {
  padding: 32px 20px;
  text-align: center;
}

/* Headers and first column styles */
th:first-child, td:first-child, th {
  background-color: skyblue;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

td:first-child, thead th:first-child {
  background-color: gray;
}

td ul {
  list-style-type: disc;
  padding-left: 12px;
}

td li {
  margin-bottom: 8px;
  line-height: 1.2;
}

/* ---------- Starting the design section ---------- */
/* ----- Paper wireframes and digital wireframes (mobile) ----- */
.paper-wireframes .image-container, .digital-wireframes .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img.mobile-wireframes {
  width: 90%;
}

img.mobile-wireframes:first-child {
  margin-bottom: 32px;
}

/* ----- Low-fidelity prototype ----- */
.low-fidelity-prototype p:nth-child(3) {
  margin-bottom: 16px;
}

/* ----- Usability study ----- */
.usability-study p {
  margin-bottom: 16px;
}

.usability-study h4 {
  margin-bottom: 20px;
}

/* Findings */
.usability-study ul {
  list-style: disc;
  padding-left: 28px;
}

.usability-study li {
  margin-bottom: 8px;
}

/* ---------- Refining the design section ---------- */
.refined-mockups-1 .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* ----- Mockups ----- */
.refined-mockups-1 .mockups {
  width: 90%;
}

img.mockups:first-child {
  margin-bottom: 32px;
}

/* Down arrow */
.down-arrow {
  font-size: 100px;
  margin-bottom: 32px;
}

/* ----- High-fidelity prototype #1 ----- */
.hifi-prototype-1 p:nth-child(3) {
  margin-bottom: 16px;
}

/* ----- Usability study 2 ----- */
.usability-study-2 h4 {
  margin-bottom: 20px;
}

.usability-study-2 p {
  margin-bottom: 16px;
}

/* Findings */
.usability-study-2 ul {
  list-style: disc;
  padding-left: 28px;
}

.usability-study-2 li {
  margin-bottom: 8px;
}

/* ----- Mockups 2 ----- */
.refined-mockups-2 .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.refined-mockups-2 img:first-child {
  margin-bottom: 32px;
}

.refined-mockups-2 .mockups-2 {
  width: 90%;
}

/* ----- Final mockups and final prototype ----- */
.final-mockups .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0;
}

.final-mockups img {
  width: 90%;
  margin-bottom: 32px;
}

/* ----- Accessibility ----- */
.accessibility span {
  font-weight: 600;
}

.accessibility p {
  margin-bottom: 16px;
}

.accessibility p:nth-child(5) {
  margin-bottom: 0;
}

/* ---------- Going forward section ---------- */
/* ----- Takeaways ----- */
.takeaways h4 {
  margin-bottom: 20px;
}

.takeaways .impact {
  margin-bottom: 32px;
}

/* ----- Next steps ----- */
.next-steps p {
  margin-bottom: 16px;
}

.next-steps p:last-child {
  margin-bottom: 0;
}

/* ---------- Media queries ---------- */
@media only screen and (min-width: 576px) {
  h1, h2, h3 {
    text-align: center;
  }
}

@media only screen and (min-width: 767px) {
  h2 {
    margin-bottom: 32px;
  }

  .section-container {
    margin-bottom: 128px;
  }

  .section-container hr {
    margin-bottom: 48px;
  }

  /* ----- Image container for all sections ----- */
  .image-container {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 32px;
  }

  /* ----- Project subsections for all sections ----- */
  .project-subsection p {
    text-align: center;
    border: 3px solid red;
    max-width: 600px;
    margin: 0 auto;
  }

  /* ---------- Hero section ---------- */
  .hero-section {
    margin-bottom: 64px;
  }

  .hero-section p {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
  }

  /* ---------- Understanding the user section ---------- */
  .understanding-the-user-section h4 {
    /* border: 3px solid blue; */
    text-align: center;
  }

  /* ----- Persona details ----- */
  .persona-details {
    /* border: 3px solid orange; */
    text-align: center;
  }

  p.persona-bio {
    /* background-color: red; */
    margin-bottom: 20px;
  }

  p.persona-quote {
    margin-bottom: 20px;
  }

  /* ----- Goals and frustrations ----- */
  .goals, .frustrations {
    /* border: 3px solid green; */
    text-align: center;
  }

  .goals ul, .frustrations ul {
    list-style-type: none;
    padding-left: 0;
  }

  /* ----- Problem statements ----- */
  p.charlie-henderson-problem {
    /* border: 3px solid green !important; */
    margin-bottom: 20px;
  }

  /* ----- User journey maps ----- */
  .persona-user-journey p:nth-child(1), .persona-user-journey p:nth-child(2) {
    margin-bottom: 20px;
  }

  p.user-journey-cta {
    max-width: unset;
    text-align: right;
  }

  /* ---------- Starting the design ---------- */
  .digital-wireframes > p:nth-child(3) {
    /* background-color: green; */
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .section-container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .project-subsection {
    margin-bottom: 0;
  }

  /* ---------- Project overview section ---------- */
  h3 {
    font-size: var(--fs-h3);
  }

  .project-overview-container {
    /* border: 3px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
  }

  .project-overview-container .image-container {
    margin-bottom: 0;
  }

  .project-subsections-container h3 {
    text-align: left;
  }

  .product-subsection, .problem-subsection, .goal-subsection {
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }

  /* project overview subsections */
  .problem-subsection {
    flex-direction: row-reverse;
  }

  .product-subsection p, .problem-subsection p, .goal-subsection p {
    text-align: left;
  }

  /* Goal subsection */
  .goal-subsection {
    margin-bottom: 32px;
  }

  /* Duration, role, responsibilities row */
  .duration-subsection .image-container, 
  .role-subsection .image-container, 
  .responsibilities-subsection .image-container {
    width: 100%;
    margin-bottom: 32px;
  }

  .duration-subsection h3, 
  .role-subsection h3, 
  .responsibilities-subsection h3 {
    text-align: center;
  }

  /* ---------- Understanding the user section ---------- */
  .understanding-the-user-section .project-subsection,
  .starting-the-design-section .project-subsection,
  .refining-the-design-section .project-subsection,
  .going-forward-section .project-subsection {
    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 1200px) {
  /* ---------- User journey maps ---------- */
  .user-journey-cta {
    display: none;
  }

  .user-journey-table table {
    min-width: unset;
  }
}
