.case-study-page {
  padding-left: 0;
  padding-right: 0;
}

.section-container {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 64px;
}

h4 {
  font-weight: 600;
}

/* ---------- Hero section ---------- */
.hero-section {
  margin-top: 64px;
}

.image-container {
  margin-bottom: 32px;
  width: 100%;
}

.image-container img {
  width: 100%;
}

h2 {
  margin-bottom: 20px; 
}

hr {
  margin-bottom: 32px;
}

/* project subsections */
.project-subsection {
  margin-bottom: 40px;
}

/* ---------- Understanding the user ---------- */
.user-research {
  margin-bottom: 32px;
}

.user-research p:nth-child(2) {
  /* border: 3px solid red; */
  margin-bottom: 16px;
}

.pain-points > div {
  /* border: 3px solid red; */
  margin-bottom: 32px;
}

.pain-points h4 {
  /* border: 3px solid red; */
  margin-bottom: 8px;
}

/* media queries */
@media only screen and (min-width: 576px) {
  h1, h2, h3 {
    text-align: center;
  }
}

@media only screen and (min-width: 767px) {
  
  h2 {
    margin-bottom: 32px;
    /* border: 3px solid red; */
  }

  .section-container {
    margin-bottom: 128px;
  }

  .section-container hr {
    margin-bottom: 100px;
    /* border: 3px solid red; */
  }

  .image-container {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 32px;
  }

  /* ----- Hero section ----- */
  .hero-section {
    margin-bottom: 0;
  }

  .hero-section p {
    text-align: center;
  }

  /* ----- Project subsections ----- */
  .project-subsection p {
    text-align: center;
    /* border: 3px solid red; */
  }
}

@media only screen and (min-width: 992px) {
  .section-container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .project-subsection {
    margin-bottom: 0;
  }

  /* ---------- Project overview section ---------- */
  h3 {
    font-size: var(--fs-h3);
  }

  .project-overview-container {
    /* border: 3px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
  }

  .project-overview-container .image-container {
    margin-bottom: 0;
  }

  .project-subsections-container h3 {
    text-align: left;
  }

  .product-subsection, .problem-subsection, .goal-subsection {
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }

  /* project overview subsections */
  .problem-subsection {
    flex-direction: row-reverse;
  }

  .product-subsection p, .problem-subsection p, .goal-subsection p {
    /* border: 3px solid red; */
    text-align: left;
  }

  /* Goal subsection */
  .goal-subsection {
    /* border: 3px solid red; */
    margin-bottom: 32px;
  }

  /* Duration, role, responsibilities row */
  .duration-subsection .image-container, 
  .role-subsection .image-container, 
  .responsibilities-subsection .image-container {
    width: 100%;
    margin-bottom: 32px;
  }

  .duration-subsection h3, 
  .role-subsection h3, 
  .responsibilities-subsection h3 {
    text-align: center;
  }

  /* ---------- Unstanding the user section ---------- */
  .understanding-the-user-section .project-subsection,
  .starting-the-design-section .project-subsection,
  .refining-the-design-section .project-subsection,
  .going-forward-section .project-subsection {
    /* border: 3px solid red; */
    margin-bottom: 32px;
  }
}